* {
    padding: 0;
    margin: 0;
    list-style: none;
}
html,
body {
    width: 100%;
    position: relative;
}
ul {
    margin-bottom: 0px !important;
}
.office-box {
    /* width: 2100px; */
    box-shadow: 0.1px 0px 0px 2px rgba(134, 134, 134, 0.1);
    position: relative;
    margin: 20px;
    border-radius: 5px;
    /* border: 1px solid #cccccc; */
    position: relative;
}
.navigation-box {
    height: 38px;
    position: relative;
    background-color: #007bff;
    padding: 0px 20px;
    border-radius: 3px 3px 0 0;
}
.user-list-bnt {
    height: 38px;
    float: left;
}
.user-list-bnt img {
    height: 24px;
    float: left;
    position: absolute;
    top: 50%;
    margin-top: -12px;
}
.user-list-bnt h3 {
    line-height: 38px;
    margin-left: 34px;
    margin-bottom: 0px !important;
    font-size: 18px;
    color: #fff;
}
.return-bnt {
    position: absolute;
    right: 20px;
}
.return-bnt img {
    height: 20px;
}

table {
    width: 100%;
    position: relative;
    border-collapse: collapse;
    text-align: center;
    border-radius: 5px;
}
table tr th,
table tr td {
    border: 1px solid #ccc;
    padding: 10px 0px;
}
.append-btn {
    position: absolute;
    margin-top: 20px;
    /* float: left; */
}
.append-btn {
    position: absolute;
    margin-top: 20px;
    /* float: left; */
}
.display-quantity {
    position: absolute;
    height: 38px;
    left: 180px;
    margin-top: 20px;
}
.display-text {
    float: left;
    line-height: 38px;
    margin-right: 20px;
}
.display-quantity select {
    padding: 4px 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.append-btn a {
    color: #fff !important;
    text-decoration: none;
}
.text .active {
    /* outline: none;
    appearance: none;
    -webkit-appearance: none; */
}
.floor-plan {
    margin: 0px 10px;
}

.office-no{
    width: 120px;
}
.edit{
    width: 100px;
}
.language td{
    width: 200px;
}
.dep-no{
    width: 100px;
}
.note{
    width: 400px;
}
