* {
  padding: 0px;
  list-style: none;
}

html, body, .map-box, .row {
  width: 100%;
  height: 100%;
}

#map-box {
  position: relative;
}

.row {
  width: 100%;
  height: 100%;
  float: left;
  z-index: 1;
  /* background-color: cadetblue; */
  margin-left: 0px !important;
  margin-right: 0px !important;
}

#meun {
  box-shadow: 0.1px 10px 15px 2px rgba(0, 0, 0, 0.1) !important;
}

#meun, #lists {
  width: 200px !important;
  height: 100% !important;
  position: relative;
}

.map {
  width: 100% !important;
  height: 100% !important;
  z-index: 999;
  padding: 20px 20px;
  position: relative;
}

.col-md-auto {
  padding: 0px !important;
}

#v-pills-tab {
  width: 100% !important;
  height: 100% !important;
  padding-top: 20px !important;
}

.nav-link {
  height: 40px !important;
  /* padding-left: 35px; */
}

.nav-pills .nav-link.active {
  border-radius: 0px !important;
  position: relative;
}

.title-style {
  height: auto;
  height: 78%;
  border-radius: 0px;
}

#lists {
  padding: 20px 20px 20px 0px;
}

.list-data {
  height: auto;
  border-radius: 0px;
  overflow-y: scroll;
  padding: 0px 20px !important;
  text-align: center !important;
  background-color: #fff !important;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-width:1px;
  border-color: rgb(221, 221, 221);
}

.list-group-item {
  width: 100%;
  height: 40px;
  line-height: 1 !important;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.list-style {
  width: 100% !important;
  cursor: pointer;
}

.list-scroll {
  height: 100%;
}

::-webkit-scrollbar {
  width: 0px;
}

#all-btn {
  height: 30px !important;
  border-radius: 0px !important;
  position: relative;
  /*top: 15px !important;*/
  padding: 10px !important;
  /* font-size: 18px !important; */
  line-height: 1px !important;
}

#v-pills-home {
  width: 100%;
  height: 100%;
  /* background-color: cadetblue; */
  float: left;
  position: relative;
  background-color: #fff;
  z-index: 10;
}

#v-pills-profile {
  width: 100%;
  height: 100%;
  /* background-color: rgb(15, 119, 255); */
}

#map {
  height: 100%;
  z-index: 99;
  /* display: none;
  float: left; */
}

#meun-btn {
  left: 10px;
}

#meun-btn, #list-btn {
  width: 36px;
  height: 36px;
  background-color: #fff;
  z-index: 999;
  position: absolute;
  top: 50%;
  margin-top: -13px;
  border-radius: 2px;
  display: block;
  box-shadow: 0.1px 0px 0px 2px rgba(134, 134, 134, 0.1) !important;
  /* opacity: 0.5; */
  /* transition: 0.5s; */
}

#meun-btn:hover, #list-btn:hover, #refresh-btn img:hover,#pw-chagen-btn:hover,#time-btn:hover,.user-btn img:hover,#mobile-record-btn:hover,.selector:hover{
  cursor: pointer;
}

#list-btn {
  right: 10px;
}

#meun-btn img, #list-btn img {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 50%;
  top: 50%;
  margin-top: -15px;
  margin-left: -15px;
  opacity: 0.8;
}

#meun-btn img:hover, #list-btn img:hover {
  opacity: 1;
}

#refresh-btn {
  width: 28px;
  height: 28px;
  position: absolute;
  right: 10px;
  z-index: 999;
  top: 50%;
  margin-top: -14px;
}

#refresh-btn img {
  width: 28px;
  height: 28px;
  padding: 3px;
}

#refresh-btn img:hover {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: transform .5s;
}
canvas{
  width: 100% !important;
  height: 100% !important;
}
.icon-style{
  width: 20px;
  height: 20px;
  float: left;
  position: relative;
  margin-right: 8px;
  margin-top: 2px;
}
.tab-pane{
  float: left;
  position: absolute;
}
.btn{
  height: 38px !important;
  border-radius: 0px !important;
  padding: 0px !important;
  font-size: 14px !important;
}
#icon{
  width: 28px;
  height: 28px;
  z-index: 999;
}
.popover{
  height: 30px !important;
  line-height: 12px !important;
  background-color: #fff !important;
  margin-top: -35px !important;
}
#YX{
  position: absolute;
  height: 40px;
  width: 300px;
  background-color: #fff;
  right: 60px;
  bottom: 25px;
  z-index: 999;
}
.pw-chagen{
  width: 500px;
  height: 360px;
  margin-top: -200px;
  margin-left: -20%;
}
.pw-chagen,#time-refresh,#mobile-record,#indoor-map{
  position: absolute;
  background-color: #ffffff;
  z-index: 9999;
  box-shadow: 0.1px 0px 0px 2px rgba(134, 134, 134, 0.1);
  border-radius: 3px;
  top: 50%;
  left: 50%;
}
.pw-chagen-title{
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #007bff;
  color: #fff;
  border-radius: 3px 3px 0px 0px;
}
.pw-form{
  width: 100%;
  position: relative;
}
.form-group{
  height: auto;
  padding: 0px 20px;
  width: 100%;
  position: relative;
  margin-bottom: 0px;

}
.form-group label{
  /* padding-right: 10px; */
  height: 38px;
  float: left;
  line-height: 38px;
  margin-bottom: 0px;
}
.form-control{
  display: block !important;
}
#submit-btn{
  width: 300px;
  margin-left: -150px;
}
#submit-btn,#time-submit-btn{
  border-radius: 3px !important;
  position: absolute;
  left: 50%;

}
#pw-chagen-btn,#time-btn,#mobile-record-btn{
  position: absolute;
  width: 22px;
  height: 22px;
  right: 20px;
  top: 9px;
}
#pw-chagen-btn img,#time-btn img, #mobile-record-btn img{
  width: 22px;
  height: 22px;
}
#time-refresh{
  width: 300px;
  height: 175px;
  margin-top: -150px;
  margin-left: -100px;
}
.time-menu{
  width: 82px;
  margin-right: 10px;
}
.time-form{
  padding-top: 20px;
  padding-bottom: 20px;
}
#time-submit-btn{
  width: 100px;
  margin-left: -50px;
}
#mobile-record{
  width: 600px;
  height: 250px;
  margin-top: -125px;
  margin-left: -300px;
}
.controls input{
  height: 40px;
  width: 300px;
}
/* #user-list p{
  font-size: 20px;
} */
.btn-list{
  height: 20%;
  padding-top: 10px;
  position: relative;
}
.def-btn {
  min-width: 120px;
  min-height: 30px;
  max-width: 100%;
  max-height: 100%;
  background: white;
  border: none;
  box-shadow: 0 3px 5px #ccc;
}
.def-btn-primary {
  color: #fff;
  background: #007bff;
}
#return-bnt{
  position: absolute;
  width: 36px !important;
  height: 36px !important;
  top: 10px;
  right: 0px;
  z-index: 999;
}
.dom-list{
  width: 150px;
  background-color: #fff;
  position: absolute;
  z-index: 9999;
  border-radius: 3px;
  right: 25px;
  top: 10px;
  box-shadow: 0.1px 0px 0px 2px rgba(134, 134, 134, 0.1);
  padding: 10px;
}
.dom-list img{
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 10px;
}
.select-time{
  float: left;
}
#start-btn{
  width: 100px;
  height: 35px !important;
  border-radius: 5px !important;
  position: absolute;
  left: 50%;
  margin-left: -50px;
}
/* .gm-style img[src='cat.jpg'] {
  border-radius:50% !important;
} */
.time-form{
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
}
.time-form label{
  float: left;
}
.selector{
  width: 90px;
  height: 38px;
  position: relative;
  border: 1px solid;
  border-color: #ccc;
  border-radius: 5px;
  float: left;
  line-height: 32px;
  padding: 3px 8px;
  margin-left: 4px;
}

.set-text{
  padding-left: 40px;
  margin-top: -32px;
}

.testcase{
  padding-left: 20px;
}
/*.set-val{*/
/*  width: 55px;*/
/*  overflow: hidden;*/
/*}*/
#selector-icon{
  width: 14px;
  height: 14px;
  position: absolute;
  fill: #999;
  right: 0px;
  top: 50%;
  transform: translate(-50%,-50%);
}
.selector-popover{
  width: 100%;
  height: auto;
  margin-top: 5px;
  border: 1px solid #ccc;
  z-index: 999;
  border-radius: 5px;
}
.wrapper{
  height: 250px;
  position: relative;
  text-align: center;
  overflow-y: scroll;
  background-color: #fff;
  z-index: 999;
}
.wrapper div{
  padding: 2px 0px;
}
