*{
  padding: 0;
  margin: 0;
  list-style: none;
}
html,body,#indoor-map-box{
  width: 100%;
  position: relative;

}
#indoor-map{
  width: 95%;
  box-shadow: 0.1px 0px 0px 2px rgba(134, 134, 134, 0.1);
  position: relative;
  margin: 20px auto;
  /* top: 50%;
  transform: translateY(-50%); */
  border-radius: 5px;
  border: 1px solid #cccccc;
}

#navigation-box{
  width: 100%;
  height: 38px;
  position: relative;
  margin-bottom: 10px;
  background-color: #007bff;
  padding: 0px 20px;
  border-radius: 3px 3px 0 0;
}
#userSettings-bnt{
  height: 38px;
  float: left;
}
#userSettings-bnt img{
  height: 24px;
  float: left;
  position: absolute;
  top: 50%;
  margin-top: -12px;
}
#userSettings-bnt h3{
  line-height: 38px;
  margin-left: 34px;
  margin-bottom: 0px !important;
  font-size: 18px;
  color: #fff;
}
#return-bnt{
  position: absolute;
  right: 20px;
}
#return-bnt img{
  height: 20px;
}
#form-box{
  width: 100%;
  height: 500px;
  position: relative;
  padding: 0px 20px;
}
.form-row{
  margin-right: 0px !important;
  margin-left: 0px !important;
}
#form-title{
  width: 100%;
  padding: 0px 20px;
  color: #999999;
}
form{
  width: 100%;
  height: 600px;
  padding: 0px 20px;
}
.form-file{
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
#jp{
  float: left;
  margin-right: 20px;
}
#jp,#en{
  width: 350px !important;
}
.indoor-map-title{
  width: 169px !important;
}
.indoor-map-title,.img-up{
  margin-right: 20px;
  line-height: 40px;
}
.indoor-map-title,.img-up,.file-icon{
  float: left;
}
.file-icon{
  width: 40px;
  height: 40px;
  position: relative;
  margin-right: 10px;
}
.file-icon img{
  width: 40px;
  height: 34px;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}
.form-control-file{
  width: 50% !important;
}
.file-up{
  padding: 5px;
}
p, label{
  margin-bottom: 0px !important;
}
.form-control{
  width: 100px;
  /* margin-top: 7px; */
  padding: 0px 10px !important;
}
.form-group{
  width: 15%;
  position: relative;
  padding-top: 8px;
  float: left;
  margin-right: 25px;
}
.input-style{
  width: 220px !important;
}
.up-data-btn button{
  width: 200px !important;
  position: absolute;
  left: 50%;
  margin-bottom: -100px;
}
#Submit-btn{
  width: 20% !important;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#layer-preview{
  width: 100%;
  height: 200px;
  position: relative;
}
#layer-preview img{
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  z-index: 999;
}
.coordinate-box{
  width: 100%;
  position: relative;
  margin-top: 20px;
  height: auto;
}
.coordinate-title{
  width: 15%;
  position: relative;
  float: left;
}
.coordinate-title .location{
  margin-bottom: 10px;
}
#coordinate-title{
  position: absolute;
  right: 0px;
}
#number-title{
  position: absolute;
  left: 50%;
}
.increase-box{
  width: 85%;
  position: absolute;
  right: 0px;
  padding-left: 25px;
  overflow: hidden;
}
.point{
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
}
.altitude{
  width: 150px;
}
.latitude,.longitude{
  width: 250px;
}
.point-input{
  width: 100% !important;
  margin-bottom: 10px;
}
#point-p,#latitude,#longitude,#altitude{
  padding-right: 10px;
}
#point-p{
  width: 10%;
}
#latitude{
  width: 30%;
}
#longitude{
  width: 30%;
}
#altitude{
  width: 15%;
}
.input-list{
  position: relative;
  overflow-y: scroll;
  height: 400px;
}
.input-list,.input-list ul{
  width: 100%;
  position: relative;
}
.input-list ul{
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 0px !important;
}
.input-list ul li,.input-list ul li input{
  width: 100%;
  padding-right: 10px;
}
.delete-btn{
  width: 10%;
  height: 38px;
  padding: 0px 20px;
}
.delete-btn button,#create-btn button{
  width: 100%;
  height: 38px !important;
}
.delete-btn svg,#create-btn svg{
  width: 24px;
  height: 24px;
  margin-bottom: 5px
}
#create-btn{
  margin-top: 10px;
  width: 10%;
  padding-right: 10px;
}
#submit{
  width: 150px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 20px 0px !important;
}
.point-input{
  width: 10% !important;
}
.latitude-input,.longitude-input{
  width: 30% !important;
}
.altitude-input{
  width: 20% !important;
}
.anchor-bolt{
  width: 50%;
  height: 600px;
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #fff;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  display: none;
  box-shadow: 0.1px 0px 0px 2px rgba(134, 134, 134, 0.1);
}
.pw-chagen-title{
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #007bff;
  color: #fff;
  border-radius: 3px 3px 0px 0px;
  position: relative;
}
.pw-chagen-title .btn-primary{
  position: absolute;
  right: 20px;
}

.pw-chagen-title .btn-primary img{
  width: 22px;
  height: 22px;
}
.pw-chagen-title .btn-primary:hover,#layer-preview:hover{
  cursor: pointer;
}
.map-img-box{
  width: 100%;
  position: relative;
  height: 500px;
  padding: 20px;
}
#map-img{
  width: 100%;
  height: 100%;
  /* border: 1px solid #ccc; */
  overflow: hidden;
  position: relative;
}
#map-img img{
  position: relative;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.note-box{
  width: 100%;
  position: relative;
  padding: 20px;
}
.note-title{
  width: 15%;
  margin-bottom: 10px;
  float: left;
  position: relative;
  margin-right: 25px;
}
#note-text{
  width: 50%;
  height: 150px;
  border-color: #ccc;
  padding: 10px;
  outline: none;
}

.footer-btn{
  margin-bottom: 20px;
  display: flex;
  display: -webkit-flex;
  justify-content: center ;
}
.footer-btn button{
  margin: 0px 10px;
}
