body {
width:100%;
height:100%;
}

#wrapper {
width:100%;
height:100%;
display: flex;
/*flex-direction:column;*/
flex-wrap: wrap;
}
#controler {
width:280px;
background:#000;
padding:10px;
font-size:0.9em;
}
#map {
flex-grow: 1;
background:#000;
}


#header {
position:absolute;
bottom:10px;
left:10px;
width:300px;
padding:10px;
background:#000;
color:#fff;
z-index:1000;
}

table.sim_data {
    border-collapse: collapse;  /* �\�̐��Ɛ��̊Ԃ��󂯂� */
}
.sim_data tr,td {
	padding: 5px !important;          /* �]���w�� */
}
.sim_data td {
height:20px;
}

select {
border: 1px solod #ccc;
font-size:1em;
background:#000;
color:#fff;
}
label {
text-align:center;
font-weight:bold;
}

#controler {
display: flex;
flex-direction:column;
}
#log-file {
flex-grow: 1;
}
#player {
flex-grow: 1;
}
#map-control {
flex-grow: 1;
}

.ctl-box {
margin:10px;
padding:10px;
border:2px solid #333;
}

#abs {
position:absolute;
top:10px;
left:50%;
z-index:30000;
}

#abs button {
font-size:1em;
}

.mbox {
margin-top:10px;
}
.mbox button {
width:100%;
padding:20px;
}
.back_g {
background:#000;
color:#fff;
border-bottom:1px solid #666;
}
